* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: inherit;
}

li {
  list-style: none;
}

/*  Header  */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  -webkit-transition: 500ms;
  transition: 500ms;
  z-index: 100;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 2% 8px 2%;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

header .header-container .brand-logo {
  color: #c7c7c7;
}

header .header-container a {
  -webkit-transition: 500ms;
  transition: 500ms;
}

header .header-container a h1 {
  -webkit-transition: 100ms;
  transition: 100ms;
}

header .header-container .header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3em;
}

header .header-container .header-links li:nth-child(2) {
  margin: 0 1.4em;
}

header .header-container .header-links li:nth-child(3) {
  margin-right: 1.4em;
}

header .header-container .header-links a {
  color: #c7c7c7;
}

header:hover {
  height: 108px;
  background-color: #fafafa;
}

header:hover h1 {
  color: black;
}

.header-shrink {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 500ms;
  transition: 500ms;
  z-index: 100;
  height: 70px;
  background-color: white;
  -webkit-box-shadow: 0 10px 20px rgba(148, 148, 148, 0.3);
          box-shadow: 0 10px 20px rgba(148, 148, 148, 0.3);
}

.header-shrink h1 {
  color: black;
}

/*  Body/Parallax  */
main {
  color: white;
  margin: 0;
  padding: 0;
  -webkit-perspective: 1px;
          perspective: 1px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  /*  About Me Section  */
  /*  Skills Section  */
}

main .about-container {
  z-index: 2;
  position: absolute;
  top: 100vh;
  height: 60vh;
  background-color: white;
  padding: 40px;
  color: grey;
}

main .about-container .about-inner-container {
  width: 60%;
  margin: 150px 0 0 10%;
}

main .about-container .about-inner-container h1 {
  color: black;
  font-size: 3.5em;
  margin-bottom: 60px;
  line-height: 60px;
}

main .about-container .about-inner-container p {
  color: #c7c7c7;
  line-height: 30px;
}

main .skills-container {
  z-index: 2;
  position: absolute;
  top: 200vh;
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
  line-height: 30px;
  padding: 40px;
}

main .skills-container .skills-inner-container {
  width: 100%;
  margin: 150px 10% 120px 10%;
}

main .skills-container .skills-inner-container h1 {
  color: black;
  font-size: 3.5em;
  margin-bottom: 60px;
  line-height: 60px;
}

main .skills-container .skills-inner-container .skills-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .skills-container .skills-inner-container .skills-flex .card {
  height: 300px;
  width: 400px;
  border: 1px solid black;
}

main .skills-container .skills-inner-container .skills-flex .card-2 {
  margin: 0 30px;
}

/*  Hero Image  */
.jumbo-foreground {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  -webkit-transform-style: inherit;
          transform-style: inherit;
  width: 100vw;
  text-align: center;
}

.jumbo-foreground .hook-lead {
  position: absolute;
  top: 10px;
  height: 5px;
  width: 100px;
  margin-top: 20px;
}

.jumbo-foreground h1 {
  position: absolute;
  width: 100vw;
  top: 50%;
  left: 40%;
  font-size: 4.5em;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.jumbo-foreground,
.jumbo-foreground::before {
  background: 50% 50% / cover;
}

.jumbo-foreground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url(./images/trees.jpg);
  background-size: cover;
  -webkit-transform-origin: center center 0;
          transform-origin: center center 0;
  -webkit-transform: translateZ(-1px) scale(2);
          transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}
/*# sourceMappingURL=style.css.map */